[*.cs]

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = none

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = silent

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = silent

# CS0472: The result of the expression is always the same since a value of this type is never equal to 'null'
dotnet_diagnostic.CS0472.severity = suggestion
